mixin box-info(infoRoom , roomId)
  .box-info 
    span(class = "name-user") #{infoRoom.titleRoom}
    a(href=`/room/detail/${roomId}`) 
      img(src=(infoRoom.avatarRoom ? infoRoom.avatarRoom : "/images/default-avatar.webp") alt="")