header 
  .container
    .row 
      .col-6
        .inner-menu 
          a(href="/auth/logout" class = "btn  btn-menu") Đăng xuất 
          a(href="/user" class = "btn  btn-menu") Người dùng 
          a(href="/chat" class = "btn  btn-menu") Tin nhắn
      .col-3
        .inner-search 
          form(action="" method="") 
            .form-group 
              input(type="text" class = "form-control" placeholder = "Tìm kiếm")
      .col-3
        .inner-info 
          span(class = "name") #{user.fullName}
          img(src=(user.avatar ? user.avatar : "/images/default-avatar.webp"), alt="")


