extends ../../layout/default.pug

block main 
  .container 
    .chat-main 
      .chat-header 
        .nav-header 
          a(href="http://") 
            | Friend 
          a(href="http://")
            | Not friend 
        .box-info 
          span(class = "name-user") Ho va ten
          img(src="/images/default-avatar.webp" alt="")
      .chat-body 
        .chat-list-friend 
          .box-friend 
            img(src="/images/default-avatar.webp" alt="")
            .inner-content 
              span(class = "name")  ho va ten 
              span(class = "last-message") xin chao 
          .box-friend 
            img(src="/images/default-avatar.webp" alt="")
            .inner-content 
              span(class = "name") ho va ten 
              span(class = "last-message") xin chao

        .chat-box 
          .chat-message-body 
            //- chat . 
            .inner-incoming 
              .name em yeu 
              .content 
                | xin chao anh ban  , mua cho t cai nay dc ko . 
            .inner-outgoing 
              .content 
                | ok ban nhe ;asjkdfl 
            .inner-incoming 
              .name em yeu 
              .content 
                | xin chao anh ban  , mua cho t cai nay dc ko .
            

          .chat-message-footer 
            form(action="" method="" id = "chat-form" placeholder = "Nhập nội dung")
              input(type="text")
              button(class = "btn btn-primary btn-send-message" )
                i.fa-solid.fa-paper-plane 

