extends ../../layout/default.pug
include ../../mixins/chat-message-body.pug
include ../../mixins/chat-message-footer.pug
include ../../mixins/chat-list-user.pug
include ../../mixins/box-info.pug

block main 
  .container 
    .chat-main(my-id = user.id)
      .chat-header 
        .nav-header 
          a(href="http://") 
            | Friend 
          a(href="http://")
            | Not friend 
        +box-info()
      .chat-body 
        +chat-list-user(users)
        .chat-box
          +chat-message-body(chats)
          +chat-message-footer()

